 html{
    font-size: 20px;
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
 }
   


body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
   overflow-x: hidden;
   margin: 0;
   padding-top: 0.2rem;
   gap: 1.5rem;
   background-color: #dabf99;
   padding-bottom: 2.7rem;
}


   header{
position: relative;
    display: flex;
    width: 98%;
height: clamp(3rem,20vw,5rem);
box-sizing: border-box;
padding-left:0.5rem ;
padding-right:0.5rem ;
background-color: #6f4811;
align-self: center;
border-radius: 0.5rem;
justify-content: space-between;

   }


   

.Profile-AND-Brand{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    gap: 0.5rem;
  
}




.Profile-image{
    width:clamp(2rem,8vw,4rem);
    height:clamp(2rem,8vw,4rem);
     background-image: url(../Images/UserPic.png);
     background-size: cover;
}


.BrandName{
    display: flex;
    justify-content: center;
    align-items: center;
        width:60%;
    height:100%;
  overflow: hidden;
    padding-top: 0.3rem;
}

.BrandNamePic{
    width: 350%;
    height: 350%;
      background-image: url(../Images/BranName.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.Toggle-And-Search{
    display: flex;

flex: 1;
justify-content: flex-end;
  gap: clamp(0.1rem,3vw,2rem);
    height: 100%;
}



nav{
     z-index: 1100;
    position: fixed;
    top: 70px;
    right: -5px;
    display: flex;
    flex-direction: column;
    
    
    padding-top: 20px;
   justify-content: space-evenly;
   padding-left: 0.5rem;
   width: clamp(5rem,20vw,10rem);
    height: clamp(20rem,50vh,40rem);
       transform: translateX(100%);
       background-color:#ed9e3df2;
         border-radius: clamp(0.5rem,2vw,1rem);
transition: transform 0.5s ease-in-out;
}

nav.Slide{
     transform: translateX(-7%);

}


nav a{
    text-decoration: none;
    color: black;
    font-size: medium;
}


.SearchContainer{
    display: flex;
    width: fit-content;
    
    height: 100%;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}



.SearchPic{
    font-size: clamp(1rem,5vw,1.5rem);
         cursor: pointer;

}




.SearchContainer input{
    width: clamp(5rem,20vw,8rem);
    height: 40%;
  border: none;
      border-bottom: 1px solid rgb(11, 11, 2);
    outline: none;
    background-color: transparent;
    display: none;
   
}


.SearchContainer input.Appearence{

    display: flex;
    
}




::placeholder{
    color: black;
}



.bars{
    align-self: center;
    font-size: clamp(1rem,5vw,1.5rem);
    
}

.bars{
   font-size: clamp(1.2rem,6vw,7rem);
  padding-left: 0.3rem;
   padding-right: 0.3rem;
  border-radius: 0.5rem;
}

.bars:active{

   background-color: #F5EBDD;
  
}




main{

display: flex;
flex-direction: column;
width: 100%;
height: 100%;

}




.Texts{

    display: flex;
    flex-direction: column;
  
    width: 100%;
    height: fit-content;
    gap: 1rem;
}

.Tittle{
     padding-left: 0.5rem;
    margin-top: 0;
    font-size: clamp(1.9rem,12vw,3.5rem);
font-weight: 600;
    margin-bottom: 0;
}

.Discription{
    margin-top: 0;
    font-size: clamp(0.8rem,5vw,1.2rem);
    line-height: 0;
    margin-bottom: 0;
      padding-left: 0.5rem;
}


.YourText{
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 0.8rem;
    padding-left: 0.5rem;
margin-top: 0;
align-items: center;
}

.YourText .text1{

    font-size: clamp(1rem,5vw,1.5rem);
      font-weight: 600;
}


.YourText .text2{
  display: flex;
  width: fit-content;
  height: fit-content;
    font-size: medium;
align-self: center;
    
}


.YourText .text2 p{
  background-color: rgba(209, 172, 109, 0.649);
    font-size: clamp(0.7rem,3vw,1.1rem);
 padding: 0.3rem;
  border-radius: 0.6rem;
  box-sizing: border-box;
}



.FavoritesCoffees-Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content ;

    align-items: center;
gap: 0.5rem;

}


 .FavoriteCoffee{
    position: relative;
    display: flex;
    width:96%;
    height: clamp(6rem,20vw,9rem);
    border-radius: 0.6rem;
      padding-left: 0.3rem;
      align-items: center;
   background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    /* Glass edge */
    border: 1px solid rgba(255, 255, 255, 0.3);

    /* Subtle depth */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

    z-index: 2;
}

.FavoritPic{
   
    background-size: cover;
    background-position: center;
    width:clamp(5rem,20vw,7rem);
    height:90%;
    border-radius: 0.5rem;
}


.FavoritesInformations{
    display: flex;

flex: 1;
    height: 100%;

    justify-content: space-around;
}




.Name-Discription-Price{

display: flex;
flex-direction: column;

height: 90%;
justify-content:space-evenly ;

   align-self: flex-end;

}

.FavoriteName{
margin-bottom: 0;
margin-top: 0;
padding-left: 0.1rem;
line-height: 0;
font-size: clamp(1rem,4vw,1.8rem);
font-weight: 600;
}



.FavoriteDiscription{
margin-bottom: 0;
margin-top: 0;

font-size: clamp(0.57rem,3vw,0.8rem);
padding-left: 0.2rem;
}



.Price-For-Favorite{
margin-top: 0;
line-height: 0;
font-size: 0.8rem;
padding-left:0.2rem ;
font-weight: 600;
}





.ButtonsFavorite{
display: flex;
flex-direction: column;
align-items: center;
flex: 1;
height: 100%;
justify-content: space-evenly;

}



.OrderFavorit{
  font-size: clamp(0.6rem,3.8vw,1.5rem);
      font-weight: 600;
    padding: 0.7rem;
   
    padding-top:0.5rem ;
    padding-bottom: 0.5rem;
    padding-left:0.8rem ;
    padding-right:0.8rem ;
    border-radius: 0.6rem;
    border: none;
      background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    /* Glass edge */
    border: 1px solid rgba(255, 255, 255, 0.3);

    /* Subtle depth */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}
  


.OrderFavorit:focus{
    transform: scale(0.95);
}




.fa-solid.fa-trash-can,.fa-solid.fa-heart{
font-size: large;
font-size: clamp(1rem,4vw,1.7rem);

    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.fa-solid.fa-trash-can{
 color: rgba(106, 99, 99, 0.75);
}

.fa-solid.fa-heart{

 color: red;
}



   footer{
position: fixed;
bottom: 0;
width:96%;
  height: clamp(2.5rem,5vh,3.3rem);
  background-color:#6f4811;
display: flex;
justify-content: space-evenly;
align-items: center;
z-index: 10000000;
border: 1px white solid;
  border-radius:0.5rem ;
align-self: center;

   }



   footer i{
color: white;
   }


#heart{
color: white;
   }

 

#empty-favorites-animation {

    width: 250px;
    height: 250px;
    margin-bottom: 0;
        opacity: 0.65;
}

.No{
line-height: 0;
margin-top: 0;
color: rgba(128, 128, 128, 0.666);
}





   